option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application

  aws:autoscaling:launchconfiguration:
    LaunchConfiguration: null
  
  aws:autoscaling:launchtemplate:
    LaunchTemplate: true
  
  aws:ec2:instances:
    RootVolumeType: gp3  # Use gp3 as the root volume type

  aws:autoscaling:launchtemplate:
    DisableIMDSv1: true  # Disables IMDSv1 for enhanced security